body
{
    font-family : 'Special Elite' , cursive;
    background: white;
}

.header_div
{
    background: white;
    color: rebeccapurple;
}

.header_div p {
    font-family: 'Roboto' , sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto' , sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: center;
    color: grey;
    text-align: center;
}